<?xml version="1.0"?>

<PhccDeviceManagerConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <Devices>
    <Motherboard>
      <ComPort>COM3</ComPort>
      <Peripherals>
        <Peripheral xsi:type="Doa40Do">
          <Address>30</Address>
        </Peripheral>
        <Peripheral xsi:type="Doa40Do">
          <Address>45</Address>
        </Peripheral>
      </Peripherals>
    </Motherboard>
  </Devices>
</PhccDeviceManagerConfiguration>