<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="F4SharedMemMirror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <F4SharedMemMirror.Properties.Settings>
      <setting name="StartMirroringWhenLaunched" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToSystemTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LaunchAtWindowsStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAsClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAsServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerIPAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServerPortNum" serializeAs="String">
        <value>21142</value>
      </setting>
      <setting name="PollingFrequencyMillis" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Priority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="RunMinimized" serializeAs="String">
        <value>True</value>
      </setting>
    </F4SharedMemMirror.Properties.Settings>
  </userSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
