<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Costura.Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="3.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="LibUsb.Common" version="2.2.10-r112" targetFramework="net461" />
  <package id="LibUsbDotNet" version="2.2.10-r112" targetFramework="net461" />
  <package id="Resourcer.Fody" version="1.7.0" targetFramework="net461" developmentDependency="true" />
  <package id="WinUSBNet" version="1.0.3" targetFramework="net461" />
</packages>