<?xml version="1.0"?>
<ArduinoSeatHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <COMPort>COM7</COMPort>
  <MotorByte1>1</MotorByte1>
  <MotorByte2>2</MotorByte2>
  <MotorByte3>4</MotorByte3>
  <MotorByte4>8</MotorByte4>
  <ForceSlight>70</ForceSlight>
  <ForceRumble>120</ForceRumble>
  <ForceMedium>170</ForceMedium>
  <ForceHard>250</ForceHard>
  <SeatOutputs>
    <Output>
      <ID>ArduinoSeat__IS_FIRING_GUN</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__BUMP_INTENSITY</ID>
      <FORCE>Rumble</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0.5</MIN>
      <MAX>1</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__NOZ_POS1__NOZZLE_PERCENT_OPEN</ID>
      <FORCE>Medium</FORCE>
      <TYPE>Progressive</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>255</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>255</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>255</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>255</MOTOR_4_SPEED>
      <MIN>16</MIN>
      <MAX>100</MAX>
    </Output>
  </SeatOutputs>
</ArduinoSeatHardwareSupportModuleConfig>