<?xml version="1.0"?>
<ArduinoSeatHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <COMPort>COM7</COMPort>
  <MotorByte1>1</MotorByte1>
  <MotorByte2>2</MotorByte2>
  <MotorByte3>4</MotorByte3>
  <MotorByte4>8</MotorByte4>
  <ForceSlight>70</ForceSlight>
  <ForceRumble>120</ForceRumble>
  <ForceMedium>170</ForceMedium>
  <ForceHard>250</ForceHard>
  <SeatOutputs>
    <Output>
      <ID>ArduinoSeat__IS_FIRING_GUN</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__IS_EJECTING</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__IS_OVER_G</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__SPEED_BRAKE__NOT_STOWED_FLAG</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__AA_MISSILE_FIRED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__AG_MISSILE_FIRED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__BOMB_DROPPED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__FLARE_DROPPED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__CHAFF_DROPPED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__BULLETS_FIRED</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>10</MIN>
      <MAX>500</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__COLLISION_COUNTER</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GFORCE</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__LAST_DAMAGE</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__DAMAGE_FORCE</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__WHEN_DAMAGE</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Manual</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__BUMP_INTENSITY</ID>
      <FORCE>Hard</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0.5</MIN>
      <MAX>1</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__NOZ_POS1__NOZZLE_PERCENT_OPEN</ID>
      <FORCE>Medium</FORCE>
      <TYPE>Progressive</TYPE>
      <MOTOR_1>true</MOTOR_1>
      <MOTOR_2>true</MOTOR_2>
      <MOTOR_3>true</MOTOR_3>
      <MOTOR_4>true</MOTOR_4>
      <MOTOR_1_SPEED>255</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>255</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>255</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>255</MOTOR_4_SPEED>
      <MIN>16</MIN>
      <MAX>100</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__NOZ_POS2__NOZZLE_PERCENT_OPEN</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__RPM1__RPM_PERCENT</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__RPM2__RPM_PERCENT</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__FUEL_FLOW1__FUEL_FLOW_POUNDS_PER_HOUR</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__FUEL_FLOW2__FUEL_FLOW_POUNDS_PER_HOUR</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__SPEED_BRAKE__POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__FLIGHT_DYNAMICS__CLIMBDIVE_ANGLE_DEGREES</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__FLIGHT_DYNAMICS__SIDESLIP_ANGLE_DEGREES</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__MAP__GROUND_SPEED_KNOTS</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__AIRSPEED_MACH_INDICATOR__TRUE_AIRSPEED_KNOTS</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__VVI__VERTICAL_VELOCITY_FPM</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__AIRCRAFT__LEADING_EDGE_FLAPS_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__AIRCRAFT__TRAILING_EDGE_FLAPS_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GEAR_PANEL__GEAR_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GEAR_PANEL__GEAR_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GEAR_PANEL__NOSE_GEAR_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GEAR_PANEL__LEFT_GEAR_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
    <Output>
      <ID>ArduinoSeat__GEAR_PANEL__RIGHT_GEAR_POSITION</ID>
      <FORCE>Manual</FORCE>
      <TYPE>Fixed</TYPE>
      <MOTOR_1>false</MOTOR_1>
      <MOTOR_2>false</MOTOR_2>
      <MOTOR_3>false</MOTOR_3>
      <MOTOR_4>false</MOTOR_4>
      <MOTOR_1_SPEED>0</MOTOR_1_SPEED>
      <MOTOR_2_SPEED>0</MOTOR_2_SPEED>
      <MOTOR_3_SPEED>0</MOTOR_3_SPEED>
      <MOTOR_4_SPEED>0</MOTOR_4_SPEED>
      <MIN>0</MIN>
      <MAX>0</MAX>
    </Output>
  </SeatOutputs>
</ArduinoSeatHardwareSupportModuleConfig>