<?xml version="1.0"?>
<AnalogDevices xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <!-- 
      *****************************************************************************************************************************
      CARD #0 
      *****************************************************************************************************************************
      -->
      <DACPrecision>SixteenBit</DACPrecision> <!--  can be FourteenBit or SixteenBit -->
      <Calibration>
        <OffsetDAC0>8192</OffsetDAC0> <!-- valid range: 0 to 16383; note: for 5V VREF, should not exceed 8192-->
        <OffsetDAC1>8192</OffsetDAC1> <!-- valid range: 0 to 16383; note: for 5V VREF, should not exceed 8192-->
        <OffsetDAC2>8192</OffsetDAC2> <!-- valid range: 0 to 16383; note: for 5V VREF, should not exceed 8192-->
      </Calibration>
      <DACChannelConfig>
        <DAC0>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC0>
        <DAC1>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC1>
        <DAC2>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC2>
        <DAC3>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC3>
        <DAC4>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC4>
        <DAC5>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC5>
        <DAC6>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC6>
        <DAC7>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC7>
        <DAC8>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC8>
        <DAC9>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC9>
        <DAC10>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC10>
        <DAC11>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC11>
        <DAC12>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC12>
        <DAC13>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC13>
        <DAC14>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC14>
        <DAC15>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC15>
        <DAC16>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC16>
        <DAC17>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC17>
        <DAC18>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC18>
        <DAC19>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC19>
        <DAC20>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC20>
        <DAC21>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC21>
        <DAC22>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC22>
        <DAC23>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC23>
        <DAC24>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC24>
        <DAC25>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC25>
        <DAC26>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC26>
        <DAC27>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC27>
        <DAC28>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC28>
        <DAC29>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC29>
        <DAC30>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC30>
        <DAC31>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC31>
        <DAC32>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC32>
        <DAC33>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC33>
        <DAC34>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC34>
        <DAC35>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC35>
        <DAC36>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC36>
        <DAC37>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC37>
        <DAC38>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC38>
        <DAC39>
          <Calibration>
            <Offset>32768</Offset> <!-- valid range: 0 to 65535-->
            <Gain>65535</Gain> <!-- valid range: 0 to 65535-->
          </Calibration>
          <InitialState>
            <DataValueA>32768</DataValueA> <!-- valid range: 0 to 65535-->
            <DataValueB>32768</DataValueB> <!-- valid range: 0 to 65535-->
          </InitialState>
        </DAC39>
      </DACChannelConfig>
    </Device>
  </Devices>
</AnalogDevices>
   