<?xml version="1.0"?>
<Simtek100285HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MinBaroPressureInHg>28.09</MinBaroPressureInHg>
  <MaxBaroPressureInHg>31.025</MaxBaroPressureInHg>
  <IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>2800</IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>
  <AltitudeZeroOffsetInFeet>550</AltitudeZeroOffsetInFeet>
</Simtek100285HardwareSupportModule>
