<?xml version="1.0"?>
<Henk_F16_HS1_Board1 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType>
      <!-- can be either USB or PHCC -->
      <COMPort>COM6</COMPort>
      <Address>0x48</Address>
      <!-- HSI Board #1 firmware is given address 0x48, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this HSI card. -->

      <RangeDigitsScrollMode>Jump</RangeDigitsScrollMode><!-- can be Jump or Smooth, default is Jump; obsolete, will be removed in future firmware revision -->
      <StatorOffsetsConfig>
        <HeadingS1Offset>241</HeadingS1Offset> <!-- 0 to 1024 -->
        <HeadingS2Offset>582</HeadingS2Offset> <!-- 0 to 1024 -->
        <HeadingS3Offset>923</HeadingS3Offset> <!-- 0 to 1024 -->
        <BearingS1Offset>241</BearingS1Offset> <!-- 0 to 1024 -->
        <BearingS2Offset>582</BearingS2Offset> <!-- 0 to 1024 -->
        <BearingS3Offset>923</BearingS3Offset> <!-- 0 to 1024 -->
        <RangeOnesDigitXOffset>85</RangeOnesDigitXOffset> <!-- 0 to 255 -->
        <RangeOnesDigitYOffset>171</RangeOnesDigitYOffset> <!-- 0 to 255 -->
        <RangeTensDigitXOffset>85</RangeTensDigitXOffset> <!-- 0 to 255 -->
        <RangeTensDigitYOffset>171</RangeTensDigitYOffset> <!-- 0 to 255 -->
        <RangeHundredsDigitXOffset>85</RangeHundredsDigitXOffset> <!-- 0 to 255 -->
        <RangeHundredsDigitYOffset>171</RangeHundredsDigitYOffset> <!-- 0 to 255 -->
      </StatorOffsetsConfig>
      
      <OutputChannelsConfig>
        <DIG_OUT_1>
          <InitialValue>false</InitialValue>
        </DIG_OUT_1>
        <DIG_OUT_2>
          <InitialValue>false</InitialValue>
        </DIG_OUT_2>
      </OutputChannelsConfig>
      
      
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      
      <HeadingCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
      </HeadingCalibrationData>

      <BearingCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
      </BearingCalibrationData>

      <RangeOnesDigitCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
      </RangeOnesDigitCalibrationData>

      <RangeTensDigitCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
      </RangeTensDigitCalibrationData>

      <RangeHundredsDigitCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
      </RangeHundredsDigitCalibrationData>
      
    </Device>
  </Devices>
</Henk_F16_HS1_Board1>