<?xml version="1.0"?>
<HenkieQuadSinCos xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM9</COMPort>
      <Address>0x53</Address><!-- Henkie's Quad SinCos firmware is given address 0x53, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this Quad SinCos card. -->
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
    </Device>
  </Devices>
</HenkieQuadSinCos>