<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="F16CPD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <F16CPD.Properties.Settings>
      <setting name="StartWhenLaunched" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LaunchAtWindowsStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAsClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RunAsServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerIPAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPortNum" serializeAs="String">
        <value>21153</value>
      </setting>
      <setting name="PollingFrequencyMillis" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Priority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="CpdWindowX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CpdWindowY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CpdWindowWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="CpdWindowHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ShutoffIfFalconNotRunning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ControlBindings" serializeAs="String">
        <value />
      </setting>
      <setting name="Brightness" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="DisplayNorthAsThreeSixZero" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AsiLockoutSpeedKnots" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="UseAsiLockoutSpeed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Rotation" serializeAs="String">
        <value>RotateNoneFlipNone</value>
      </setting>
      <setting name="FastCourseAndHeadingAdjustSpeed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DisplayVerticalVelocityInDecimalThousands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpgradeNeeded" serializeAs="String">
        <value>True</value>
      </setting>
    </F16CPD.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="RollingFileAppender" type="Common.Application.Logging.RollingFileAppender, Common.Application">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger : %message %newline %date         [%thread] %level %logger : %exception{message} - %exception{source} -         %exception{stacktrace} - %exception{targetsite} - %exception{helplink} -         %exception{data} %newline %date [%thread] %level %logger : %stacktrace{3} %newline         %date [%thread] %level %logger : %stacktracedetail{3} %newline " />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
