<?xml version="1.0"?>
<TeensyRWRHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <COMPort>COM3</COMPort>
  <RotationDegrees>-45</RotationDegrees>

  <XAxisCalibrationData>
    <CalibrationPoint>
      <Input>0</Input>
      <Output>0</Output>
    </CalibrationPoint>
    <CalibrationPoint>
      <Input>4095</Input>
      <Output>4095</Output>
    </CalibrationPoint>
  </XAxisCalibrationData>

  <YAxisCalibrationData>
    <CalibrationPoint>
      <Input>0</Input>
      <Output>0</Output>
    </CalibrationPoint>
    <CalibrationPoint>
      <Input>4095</Input>
      <Output>4095</Output>
    </CalibrationPoint>
  </YAxisCalibrationData>
</TeensyRWRHardwareSupportModuleConfig>