<?xml version="1.0"?>
<AMI9001584HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="9001584_Counter_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="1800" volts="-8"/>
          <Point input="3600" volts="-6"/>
          <Point input="5400" volts="-4"/>
          <Point input="7200" volts="-2"/>
          <Point input="9000" volts="0"/>
          <Point input="10800" volts="2"/>
          <Point input="12600" volts="4"/>
          <Point input="14400" volts="6"/>
          <Point input="16200" volts="8"/>
          <Point input="18000" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="9001584_AL_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-7"/>
          <Point input="500" volts="-5.33"/>
          <Point input="1000" volts="-3.67"/>
          <Point input="1500" volts="-2"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.33"/>
          <Point input="3000" volts="3"/>
          <Point input="3500" volts="4.67"/>
          <Point input="4200" volts="7"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="9001584_FR_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-7"/>
          <Point input="500" volts="-5.33"/>
          <Point input="1000" volts="-3.67"/>
          <Point input="1500" volts="-2"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.33"/>
          <Point input="3000" volts="3"/>
          <Point input="3500" volts="4.67"/>
          <Point input="4200" volts="7"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</AMI9001584HardwareSupportModule>