<?xml version="1.0"?>
<AMI900158001HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="900158001_Compass_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="900158001_Compass_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="30" angle="30"/>
          <Point input="60" angle="60"/>
          <Point input="90" angle="90"/>
          <Point input="120" angle="120"/>
          <Point input="150" angle="150"/>
          <Point input="180" angle="180"/>
          <Point input="210" angle="210"/>
          <Point input="240" angle="240"/>
          <Point input="270" angle="270"/>
          <Point input="300" angle="300"/>
          <Point input="330" angle="330"/>
          <Point input="360" angle="360"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_Compass_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="900158001_Compass_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_Course_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="900158001_Course_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="30" angle="30"/>
          <Point input="60" angle="60"/>
          <Point input="90" angle="90"/>
          <Point input="120" angle="120"/>
          <Point input="150" angle="150"/>
          <Point input="180" angle="180"/>
          <Point input="210" angle="210"/>
          <Point input="240" angle="240"/>
          <Point input="270" angle="270"/>
          <Point input="300" angle="300"/>
          <Point input="330" angle="330"/>
          <Point input="360" angle="360"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_Course_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="900158001_Course_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_Course_Deviation_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-10" volts="-10"/>
          <Point input="-5" volts="-10"/>
          <Point input="-2" volts="-4"/>
          <Point input="0" volts="0"/>
          <Point input="2" volts="4"/>
          <Point input="5" volts="10"/>
          <Point input="10" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x100_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="900158001_DME_x100_COS_To_Instrument">
        <UnitsPerRevolution>10</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x100_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="900158001_DME_x100_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x10_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="900158001_DME_x10_COS_To_Instrument">
        <UnitsPerRevolution>10</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x10_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="900158001_DME_x10_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x1_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="900158001_DME_x1_COS_To_Instrument">
        <UnitsPerRevolution>10</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_DME_x1_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="900158001_DME_x1_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900158001_OFF_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>false</Invert>
    </Channel>
    <Channel id="900158001_FROM_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>false</Invert>
    </Channel>
    <Channel id="900158001_TO_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>false</Invert>
    </Channel>
    <Channel id="900158001_Deviation_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>false</Invert>
    </Channel>
    <Channel id="900158001_DME_Shutter_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>false</Invert>
    </Channel>
  </Channels>
</AMI900158001HardwareSupportModule>