<?xml version="1.0"?>
<AMI900278002HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="900278002_Pitch_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-90" volts="-10"/>
          <Point input="-60" volts="-6.67"/>
          <Point input="-30" volts="-3.33"/>
          <Point input="-10" volts="-1.11"/>
          <Point input="0" volts="0"/>
          <Point input="10" volts="1.11"/>
          <Point input="30" volts="3.33"/>
          <Point input="60" volts="6.67"/>
          <Point input="90" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900278002_Roll_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="900278002_Roll_COS_To_Instrument">
        <Breakpoints>
          <Point input="-180" angle="-180"/>
          <Point input="-150" angle="-150"/>
          <Point input="-120" angle="-120"/>
          <Point input="-90" angle="-90"/>
          <Point input="-60" angle="-60"/>
          <Point input="-30" angle="-30"/>
          <Point input="0" angle="0"/>
          <Point input="30" angle="30"/>
          <Point input="60" angle="60"/>
          <Point input="90" angle="90"/>
          <Point input="120" angle="120"/>
          <Point input="150" angle="150"/>
          <Point input="180" angle="180"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900278002_Roll_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="900278002_Roll_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900278002_OFF_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
    <Channel id="900278002_GS_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
    <Channel id="900278002_LOC_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
    <Channel id="900278002_AUX_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
    <Channel id="900278002_Horizontal_Command_Bar_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-100" volts="-10"/>
          <Point input="-4.44" volts="-10"/>
          <Point input="0" volts="0"/>
          <Point input="4.44" volts="10"/>
          <Point input="100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900278002_Vertical_Command_Bar_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-100" volts="-10"/>
          <Point input="-4.44" volts="-10"/>
          <Point input="0" volts="0"/>
          <Point input="4.44" volts="10"/>
          <Point input="100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="900278002_Rate_Of_Turn_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-1" volts="-10"/>
          <Point input="-0.5" volts="-5"/>
          <Point input="0" volts="0"/>
          <Point input="0.5" volts="5"/>
          <Point input="1" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</AMI900278002HardwareSupportModule>