<?xml version="1.0"?>
<AMI9000262001HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="9000262001_Cabin_Pressure_Altitude_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="5000" volts="-8"/>
          <Point input="10000" volts="-6"/>
          <Point input="15000" volts="-4"/>
          <Point input="20000" volts="-2"/>
          <Point input="25000" volts="0"/>
          <Point input="30000" volts="2"/>
          <Point input="35000" volts="4"/>
          <Point input="40000" volts="6"/>
          <Point input="45000" volts="8"/>
          <Point input="50000" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</AMI9000262001HardwareSupportModule>