<?xml version="1.0"?>
<HenkF16HSIBoard1Calibration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="Henk_F16_HSI_Board1_Magnetic_Heading_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="180" output="511.5"/>
          <Point input="360" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="Henk_F16_HSI_Board1_Bearing_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="180" output="511.5"/>
          <Point input="360" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="Henk_F16_HSI_Board1_Range_x100_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="5" output="511.5"/>
          <Point input="10" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="Henk_F16_HSI_Board1_Range_x10_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="5" output="511.5"/>
          <Point input="10" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="Henk_F16_HSI_Board1_Range_x1_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="5" output="511.5"/>
          <Point input="10" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
  </Channels>
</HenkF16HSIBoard1Calibration>