<?xml version="1.0"?>
<HenkF16ADISupportBoardHardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="HenkF16ADISupportBoard_Pitch_To_SDI">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-90" output="169"/>
          <Point input="0" output="424"/>
          <Point input="90" output="679"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="HenkF16ADISupportBoard_Roll_To_SDI">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-180" output="0"/>
          <Point input="0" output="512"/>
          <Point input="180" output="1024"/>
        </Breakpoints>
      </Transform>
    </Channel>
    <Channel id="HenkF16ADISupportBoard_Horizontal_GS_Bar_To_SDI">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-1" output="0"/>
          <Point input="0" output="0.5"/>
          <Point input="1" output="1"/>
        </Breakpoints>
      </Transform>
      <HiddenOutput>1</HiddenOutput>
    </Channel>
    <Channel id="HenkF16ADISupportBoard_Vertical_GS_Bar_To_SDI">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-1" output="1"/>
          <Point input="0" output="0.5"/>
          <Point input="1" output="0"/>
        </Breakpoints>
      </Transform>
      <HiddenOutput>0</HiddenOutput>
    </Channel>
    <Channel id="HenkF16ADISupportBoard_Rate_Of_Turn_To_SDI">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-1" output="0"/>
          <Point input="0" output="0.5"/>
          <Point input="1" output="1"/>
        </Breakpoints>
      </Transform>
    </Channel>
  </Channels>
</HenkF16ADISupportBoardHardwareSupportModule>