<?xml version="1.0"?>
<Henk_F16_HSI_Board2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType>
      <!-- can be either USB or PHCC -->
      <COMPort>COM6</COMPort>
      <Address>0x49</Address>
      <!-- HSI Board #2 firmware is given address 0x49, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this HSI card. -->

      <StatorOffsetsConfig>
        <!-- 0 to 1023 -->
        <CourseExciterS1Offset>156</CourseExciterS1Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS2Offset>497</CourseExciterS2Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS3Offset>838</CourseExciterS3Offset>
      </StatorOffsetsConfig>

      <OutputChannelsConfig>
        <DIG_OUT_A>
          <InitialValue>false</InitialValue>
        </DIG_OUT_A>
        <DIG_OUT_B>
          <InitialValue>false</InitialValue>
        </DIG_OUT_B>
        <DIG_OUT_X>
          <InitialValue>false</InitialValue>
        </DIG_OUT_X>
      </OutputChannelsConfig>

      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>

      <CourseExciterCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>360</Input>
          <Output>1023</Output>
        </CalibrationPoint>      
      </CourseExciterCalibrationData>

      <CourseDeviationIndicatorCalibrationData>
        <CalibrationPoint>
          <Input>-1.0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>0.0</Input>
          <Output>512</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1.0</Input>
          <Output>1023</Output>
        </CalibrationPoint>
      </CourseDeviationIndicatorCalibrationData>

      <!-- HDG value hysteresis value: 0 to 127-->
      <HeadingValueHysteresisThreshold>6</HeadingValueHysteresisThreshold>

      <!-- CRS value hysteresis value: 0 to 127-->
      <CourseValueHysteresisThreshold>1</CourseValueHysteresisThreshold>

      <!-- CRS 45 degree SIN/COS crossover (125-225); actual setting is 4x [500-900]-->
      <Course45DegreeSinCosCrossover>177</Course45DegreeSinCosCrossover>

		<HeadingDatumCalibrationData>
			<CalibrationPoint>
				<Input>-969</Input>
				<Output>-90</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-963</Input>
				<Output>-85</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-952</Input>
				<Output>-80</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-932</Input>
				<Output>-75</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-902</Input>
				<Output>-70</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-886</Input>
				<Output>-65</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-848</Input>
				<Output>-60</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-803</Input>
				<Output>-55</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-760</Input>
				<Output>-50</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-679</Input>
				<Output>-45</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-635</Input>
				<Output>-40</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-571</Input>
				<Output>-35</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-507</Input>
				<Output>-30</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-438</Input>
				<Output>-25</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-354</Input>
				<Output>-20</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-278</Input>
				<Output>-15</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-194</Input>
				<Output>-10</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>-104</Input>
				<Output>-5</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>4</Input>
				<Output>0</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>65</Input>
				<Output>5</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>151</Input>
				<Output>10</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>230</Input>
				<Output>15</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>306</Input>
				<Output>20</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>388</Input>
				<Output>25</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>467</Input>
				<Output>30</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>532</Input>
				<Output>35</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>605</Input>
				<Output>40</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>663</Input>
				<Output>45</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>726</Input>
				<Output>50</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>768</Input>
				<Output>55</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>826</Input>
				<Output>60</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>863</Input>
				<Output>65</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>906</Input>
				<Output>70</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>918</Input>
				<Output>75</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>939</Input>
				<Output>80</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>951</Input>
				<Output>85</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>971</Input>
				<Output>90</Output>
			</CalibrationPoint>
		</HeadingDatumCalibrationData>

		<DesiredCourseCalibrationData>
			<CalibrationPoint>
				<Input>4087</Input>
				<Output>359</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>4082</Input>
				<Output>359</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>4071</Input>
				<Output>0</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>4060</Input>
				<Output>1</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>4042</Input>
				<Output>2</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>4032</Input>
				<Output>3</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>4017</Input>
				<Output>4</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>4002</Input>
				<Output>5</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3993</Input>
				<Output>6</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3975</Input>
				<Output>7</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3962</Input>
				<Output>8</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3948</Input>
				<Output>9</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3936</Input>
				<Output>10</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3922</Input>
				<Output>11</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3910</Input>
				<Output>12</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3898</Input>
				<Output>13</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3887</Input>
				<Output>14</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3875</Input>
				<Output>15</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3864</Input>
				<Output>16</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3852</Input>
				<Output>17</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3840</Input>
				<Output>18</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3827</Input>
				<Output>19</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3820</Input>
				<Output>20</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3814</Input>
				<Output>21</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3800</Input>
				<Output>22</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3786</Input>
				<Output>23</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3776</Input>
				<Output>24</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3766</Input>
				<Output>25</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3755</Input>
				<Output>26</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3742</Input>
				<Output>27</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3732</Input>
				<Output>28</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3721</Input>
				<Output>29</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3711</Input>
				<Output>30</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3701</Input>
				<Output>31</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3691</Input>
				<Output>32</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3684</Input>
				<Output>33</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3674</Input>
				<Output>34</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3665</Input>
				<Output>35</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3655</Input>
				<Output>36</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3646</Input>
				<Output>37</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3640</Input>
				<Output>38</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3631</Input>
				<Output>39</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3621</Input>
				<Output>40</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3613</Input>
				<Output>41</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3606</Input>
				<Output>42</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3596</Input>
				<Output>43</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3578</Input>
				<Output>44</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3567</Input>
				<Output>45</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3557</Input>
				<Output>46</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3544</Input>
				<Output>47</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3534</Input>
				<Output>48</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3519</Input>
				<Output>49</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3509</Input>
				<Output>50</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3496</Input>
				<Output>51</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3487</Input>
				<Output>52</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3476</Input>
				<Output>53</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3462</Input>
				<Output>54</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3452</Input>
				<Output>55</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3441</Input>
				<Output>56</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3429</Input>
				<Output>57</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3419</Input>
				<Output>58</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3406</Input>
				<Output>59</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3398</Input>
				<Output>60</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3385</Input>
				<Output>61</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3374</Input>
				<Output>62</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3362</Input>
				<Output>63</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3351</Input>
				<Output>64</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3343</Input>
				<Output>65</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3329</Input>
				<Output>66</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3317</Input>
				<Output>67</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3306</Input>
				<Output>68</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3292</Input>
				<Output>69</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3286</Input>
				<Output>70</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3272</Input>
				<Output>71</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3261</Input>
				<Output>72</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3253</Input>
				<Output>73</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3238</Input>
				<Output>74</Output>
			</CalibrationPoint>
			
			<CalibrationPoint>
				<Input>3227</Input>
				<Output>75</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3216</Input>
				<Output>76</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3207</Input>
				<Output>77</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3197</Input>
				<Output>78</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3182</Input>
				<Output>79</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3171</Input>
				<Output>80</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3159</Input>
				<Output>81</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3148</Input>
				<Output>82</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3138</Input>
				<Output>83</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3126</Input>
				<Output>84</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3115</Input>
				<Output>85</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3104</Input>
				<Output>86</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3091</Input>
				<Output>87</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3081</Input>
				<Output>88</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3061</Input>
				<Output>89</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3049</Input>
				<Output>90</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3032</Input>
				<Output>91</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3018</Input>
				<Output>92</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>3005</Input>
				<Output>93</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2989</Input>
				<Output>94</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2974</Input>
				<Output>95</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2960</Input>
				<Output>96</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2947</Input>
				<Output>97</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2936</Input>
				<Output>98</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2920</Input>
				<Output>99</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2906</Input>
				<Output>100</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2895</Input>
				<Output>101</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2883</Input>
				<Output>102</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2874</Input>
				<Output>103</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2858</Input>
				<Output>104</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2849</Input>
				<Output>105</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2836</Input>
				<Output>106</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2823</Input>
				<Output>107</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2812</Input>
				<Output>108</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2799</Input>
				<Output>109</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2788</Input>
				<Output>110</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2779</Input>
				<Output>111</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2767</Input>
				<Output>112</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2757</Input>
				<Output>113</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2746</Input>
				<Output>114</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2734</Input>
				<Output>115</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2725</Input>
				<Output>116</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2715</Input>
				<Output>117</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2702</Input>
				<Output>118</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2692</Input>
				<Output>119</Output>
			</CalibrationPoint>

			<CalibrationPoint>
				<Input>2682</Input>
				<Output>120</Output>
			</CalibrationPoint>

			
			
			
			
			<CalibrationPoint>
				<Input>2632</Input>
				<Output>125</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2588</Input>
				<Output>130</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2524</Input>
				<Output>135</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2512</Input>
				<Output>136</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2501</Input>
				<Output>137</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2489</Input>
				<Output>138</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2479</Input>
				<Output>139</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2468</Input>
				<Output>140</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2413</Input>
				<Output>145</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2359</Input>
				<Output>150</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2305</Input>
				<Output>155</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2250</Input>
				<Output>160</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2194</Input>
				<Output>165</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2140</Input>
				<Output>170</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2085</Input>
				<Output>175</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>2020</Input>
				<Output>180</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1950</Input>
				<Output>185</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1886</Input>
				<Output>190</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1821</Input>
				<Output>195</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1766</Input>
				<Output>200</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1712</Input>
				<Output>205</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1662</Input>
				<Output>210</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1616</Input>
				<Output>215</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1573</Input>
				<Output>220</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1510</Input>
				<Output>225</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1454</Input>
				<Output>230</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1398</Input>
				<Output>235</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1343</Input>
				<Output>240</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1287</Input>
				<Output>245</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1229</Input>
				<Output>250</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1174</Input>
				<Output>255</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1122</Input>
				<Output>260</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>1061</Input>
				<Output>265</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>993</Input>
				<Output>270</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>921</Input>
				<Output>275</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>857</Input>
				<Output>280</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>794</Input>
				<Output>285</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>738</Input>
				<Output>290</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>682</Input>
				<Output>295</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>633</Input>
				<Output>300</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>585</Input>
				<Output>305</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>541</Input>
				<Output>310</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>472</Input>
				<Output>315</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>420</Input>
				<Output>320</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>365</Input>
				<Output>325</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>312</Input>
				<Output>330</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>256</Input>
				<Output>335</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>212</Input>
				<Output>340</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>202</Input>
				<Output>340</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>148</Input>
				<Output>345</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>92</Input>
				<Output>350</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>82</Input>
				<Output>351</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>79</Input>
				<Output>351</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>72</Input>
				<Output>352</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>70</Input>
				<Output>352</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>61</Input>
				<Output>353</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>58</Input>
				<Output>353</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>52</Input>
				<Output>354</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>49</Input>
				<Output>354</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>39</Input>
				<Output>355</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>36</Input>
				<Output>355</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>32</Input>
				<Output>356</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>19</Input>
				<Output>356</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>18</Input>
				<Output>357</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>14</Input>
				<Output>357</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>8</Input>
				<Output>358</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>5</Input>
				<Output>358</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>4</Input>
				<Output>359</Output>
			</CalibrationPoint>
			<CalibrationPoint>
				<Input>0</Input>
				<Output>359</Output>
			</CalibrationPoint>
		</DesiredCourseCalibrationData>
		
	</Device>	  
  </Devices>
</Henk_F16_HSI_Board2>