<?xml version="1.0"?>
<HenkieF16AltimeterHardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="HenkieF16Altimeter_Indicator_Position_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="5000" output="2047.5"/>
          <Point input="10000" output="4095"/>
        </Breakpoints>
      </Transform>
    </Channel>
  </Channels>
</HenkieF16AltimeterHardwareSupportModule>