<?xml version="1.0"?>
<Henk_F16_HSI_Board2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType>
      <!-- can be either USB or PHCC -->
      <COMPort>COM6</COMPort>
      <Address>0x49</Address>
      <!-- HSI Board #2 firmware is given address 0x49, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this HSI card. -->

      <StatorOffsetsConfig>
        <!-- 0 to 1023 -->
        <CourseExciterS1Offset>156</CourseExciterS1Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS2Offset>497</CourseExciterS2Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS3Offset>838</CourseExciterS3Offset>
      </StatorOffsetsConfig>

      <OutputChannelsConfig>
        <DIG_OUT_A>
          <InitialValue>false</InitialValue>
        </DIG_OUT_A>
        <DIG_OUT_B>
          <InitialValue>false</InitialValue>
        </DIG_OUT_B>
        <DIG_OUT_X>
          <InitialValue>false</InitialValue>
        </DIG_OUT_X>
      </OutputChannelsConfig>

      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>

      <CourseExciterCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>360</Input>
          <Output>1023</Output>
        </CalibrationPoint>      
      </CourseExciterCalibrationData>

      <CourseDeviationIndicatorCalibrationData>
        <CalibrationPoint>
          <Input>-1.0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>0.0</Input>
          <Output>512</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1.0</Input>
          <Output>1023</Output>
        </CalibrationPoint>
      </CourseDeviationIndicatorCalibrationData>

      <!-- HDG value hysteresis value: 0 to 127-->
      <HeadingValueHysteresisThreshold>6</HeadingValueHysteresisThreshold>

      <!-- CRS value hysteresis value: 0 to 127-->
      <CourseValueHysteresisThreshold>1</CourseValueHysteresisThreshold>

      <!-- CRS 45 degree SIN/COS crossover (125-225); actual setting is 4x [500-900]-->
      <Course45DegreeSinCosCrossover>177</Course45DegreeSinCosCrossover>
    </Device>
  </Devices>
</Henk_F16_HSI_Board2>