<?xml version="1.0"?>
<Henk_F16_HSI_Board2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType>
      <!-- can be either USB or PHCC -->
      <COMPort>COM6</COMPort>
      <Address>0x49</Address>
      <!-- HSI Board #2 firmware is given address 0x49, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this HSI card. -->

      <StatorOffsetsConfig>
        <!-- 0 to 1023 -->
        <CourseExciterS1Offset>156</CourseExciterS1Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS2Offset>497</CourseExciterS2Offset>
        <!-- 0 to 1023 -->
        <CourseExciterS3Offset>838</CourseExciterS3Offset>
      </StatorOffsetsConfig>

      <OutputChannelsConfig>
        <DIG_OUT_A>
          <InitialValue>false</InitialValue>
        </DIG_OUT_A>
        <DIG_OUT_B>
          <InitialValue>false</InitialValue>
        </DIG_OUT_B>
        <DIG_OUT_X>
          <InitialValue>false</InitialValue>
        </DIG_OUT_X>
      </OutputChannelsConfig>

      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>

      <CourseExciterCalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>360</Input>
          <Output>1023</Output>
        </CalibrationPoint>      
      </CourseExciterCalibrationData>

      <CourseDeviationIndicatorCalibrationData>
        <CalibrationPoint>
          <Input>-1.0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>0.0</Input>
          <Output>512</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1.0</Input>
          <Output>1023</Output>
        </CalibrationPoint>
      </CourseDeviationIndicatorCalibrationData>

      <!-- HDG value hysteresis value: 0 to 127-->
      <HeadingValueHysteresisThreshold>6</HeadingValueHysteresisThreshold>

      <!-- CRS value hysteresis value: 0 to 127-->
      <CourseValueHysteresisThreshold>1</CourseValueHysteresisThreshold>

      <!-- CRS 45 degree SIN/COS crossover (125-225); actual setting is 4x [500-900]-->
      <Course45DegreeSinCosCrossover>177</Course45DegreeSinCosCrossover>

	<HeadingDatumCalibrationData>
		<CalibrationPoint>
			<Input>-969</Input>
			<Output>-90</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-963</Input>
			<Output>-85</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-952</Input>
			<Output>-80</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-932</Input>
			<Output>-75</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-902</Input>
			<Output>-70</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-886</Input>
			<Output>-65</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-848</Input>
			<Output>-60</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-803</Input>
			<Output>-55</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-760</Input>
			<Output>-50</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-679</Input>
			<Output>-45</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-635</Input>
			<Output>-40</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-571</Input>
			<Output>-35</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-507</Input>
			<Output>-30</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-438</Input>
			<Output>-25</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-354</Input>
			<Output>-20</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-278</Input>
			<Output>-15</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-194</Input>
			<Output>-10</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>-104</Input>
			<Output>-5</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>4</Input>
			<Output>0</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>65</Input>
			<Output>5</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>151</Input>
			<Output>10</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>230</Input>
			<Output>15</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>306</Input>
			<Output>20</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>388</Input>
			<Output>25</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>467</Input>
			<Output>30</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>532</Input>
			<Output>35</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>605</Input>
			<Output>40</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>663</Input>
			<Output>45</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>726</Input>
			<Output>50</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>768</Input>
			<Output>55</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>826</Input>
			<Output>60</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>863</Input>
			<Output>65</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>906</Input>
			<Output>70</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>918</Input>
			<Output>75</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>939</Input>
			<Output>80</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>951</Input>
			<Output>85</Output>
		</CalibrationPoint>
		<CalibrationPoint>
			<Input>971</Input>
			<Output>90</Output>
		</CalibrationPoint>
	</HeadingDatumCalibrationData>

	</Device>	  
  </Devices>
</Henk_F16_HSI_Board2>