<?xml version="1.0"?>
<HenkieF16FuelFlowIndicator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <!-- Device 0 (authored by SimLinkup Profile Editor — edit via Hardware Config tab) -->
      <ConnectionType>USB</ConnectionType>
      <COMPort>COM9</COMPort>
      <Address>0x46</Address>
      <StatorBaseAnglesConfig>
        <S1BaseAngleDegrees>113.26</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>233.26</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>353.26</S3BaseAngleDegrees>
      </StatorBaseAnglesConfig>
      <OutputChannelsConfig>
        <DIG_OUT_1>
          <InitialValue>false</InitialValue>
        </DIG_OUT_1>
        <DIG_OUT_2>
          <InitialValue>false</InitialValue>
        </DIG_OUT_2>
        <DIG_OUT_3>
          <InitialValue>false</InitialValue>
        </DIG_OUT_3>
        <DIG_OUT_4>
          <InitialValue>false</InitialValue>
        </DIG_OUT_4>
        <DIG_OUT_5>
          <InitialValue>false</InitialValue>
        </DIG_OUT_5>
      </OutputChannelsConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
    </Device>
  </Devices>
</HenkieF16FuelFlowIndicator>