<?xml version="1.0"?>
<HenkieF16FuelFlowHardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="HenkieF16FuelFlow_FuelFlow_To_Indicator">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" output="0"/>
          <Point input="500" output="20"/>
          <Point input="800" output="30"/>
          <Point input="820" output="31"/>
          <Point input="840" output="32"/>
          <Point input="860" output="33"/>
          <Point input="880" output="34"/>
          <Point input="900" output="35"/>
          <Point input="1000" output="38"/>
          <Point input="1100" output="42"/>
          <Point input="1200" output="44"/>
          <Point input="1300" output="49"/>
          <Point input="1400" output="54"/>
          <Point input="1500" output="57"/>
          <Point input="1600" output="61"/>
          <Point input="1700" output="64"/>
          <Point input="1800" output="69"/>
          <Point input="1900" output="72"/>
          <Point input="2000" output="77"/>
          <Point input="2500" output="98"/>
          <Point input="3000" output="115"/>
          <Point input="3500" output="136"/>
          <Point input="4000" output="160"/>
          <Point input="4500" output="184"/>
          <Point input="5000" output="208"/>
          <Point input="5500" output="234"/>
          <Point input="6000" output="260"/>
          <Point input="6500" output="290"/>
          <Point input="7000" output="318"/>
          <Point input="7500" output="349"/>
          <Point input="8000" output="381"/>
          <Point input="8500" output="416"/>
          <Point input="9000" output="453"/>
          <Point input="9500" output="489"/>
          <Point input="10000" output="527"/>
          <Point input="10500" output="564"/>
          <Point input="11000" output="603"/>
          <Point input="11500" output="638"/>
          <Point input="12000" output="673"/>
          <Point input="12500" output="707"/>
          <Point input="13000" output="738"/>
          <Point input="13500" output="767"/>
          <Point input="14000" output="795"/>
          <Point input="14500" output="822"/>
          <Point input="15000" output="849"/>
          <Point input="15500" output="872"/>
          <Point input="16000" output="896"/>
          <Point input="16500" output="917"/>
          <Point input="17000" output="938"/>
          <Point input="17500" output="959"/>
          <Point input="18000" output="978"/>
          <Point input="18500" output="997"/>
          <Point input="19000" output="1016.5"/>
          <Point input="19500" output="1035"/>
          <Point input="20000" output="1053"/>
          <Point input="20500" output="1070"/>
          <Point input="21000" output="1086"/>
          <Point input="21500" output="1105"/>
          <Point input="22000" output="1120"/>
          <Point input="22500" output="1137"/>
          <Point input="23000" output="1155"/>
          <Point input="23500" output="1169"/>
          <Point input="24000" output="1187"/>
          <Point input="24500" output="1201"/>
          <Point input="25000" output="1211"/>
          <Point input="25500" output="1217"/>
          <Point input="26000" output="1233"/>
          <Point input="26500" output="1250"/>
          <Point input="27000" output="1262"/>
          <Point input="27500" output="1279"/>
          <Point input="28000" output="1295"/>
          <Point input="28500" output="1314"/>
          <Point input="29000" output="1328"/>
          <Point input="29500" output="1344"/>
          <Point input="30000" output="1362"/>
          <Point input="30500" output="1380"/>
          <Point input="31000" output="1395"/>
          <Point input="31500" output="1421"/>
          <Point input="32000" output="1440"/>
          <Point input="32500" output="1459"/>
          <Point input="33000" output="1478"/>
          <Point input="33500" output="1496"/>
          <Point input="34000" output="1520"/>
          <Point input="34500" output="1542"/>
          <Point input="35000" output="1567"/>
          <Point input="35500" output="1596"/>
          <Point input="36000" output="1623"/>
          <Point input="36500" output="1650"/>
          <Point input="37000" output="1695"/>
          <Point input="37500" output="1730"/>
          <Point input="38000" output="1755"/>
          <Point input="38500" output="1785"/>
          <Point input="39000" output="1826"/>
          <Point input="39500" output="1863"/>
          <Point input="40000" output="1900"/>
          <Point input="40500" output="1937"/>
          <Point input="41000" output="1978"/>
          <Point input="41500" output="2012"/>
          <Point input="42000" output="2047"/>
          <Point input="42500" output="2075"/>
          <Point input="43000" output="2101"/>
          <Point input="43500" output="2130"/>
          <Point input="44000" output="2175"/>
          <Point input="44500" output="2200"/>
          <Point input="45000" output="2230"/>
          <Point input="45500" output="2255"/>
          <Point input="46000" output="2280"/>
          <Point input="46500" output="2300"/>
          <Point input="47000" output="2323"/>
          <Point input="47500" output="2342"/>
          <Point input="48000" output="2362"/>
          <Point input="48500" output="2383"/>
          <Point input="49000" output="2401"/>
          <Point input="49500" output="2420"/>
          <Point input="50000" output="2439"/>
          <Point input="50500" output="2455"/>
          <Point input="51000" output="2471"/>
          <Point input="51500" output="2490"/>
          <Point input="52000" output="2506"/>
          <Point input="52500" output="2521"/>
          <Point input="53000" output="2538"/>
          <Point input="53500" output="2555"/>
          <Point input="54000" output="2571"/>
          <Point input="54500" output="2580"/>
          <Point input="55000" output="2584"/>
          <Point input="55500" output="2600"/>
          <Point input="56000" output="2615"/>
          <Point input="56500" output="2632"/>
          <Point input="57000" output="2646"/>
          <Point input="57500" output="2662"/>
          <Point input="58000" output="2678"/>
          <Point input="58500" output="2694"/>
          <Point input="59000" output="2707"/>
          <Point input="59500" output="2728"/>
          <Point input="60000" output="2744"/>
          <Point input="60500" output="2763"/>
          <Point input="61000" output="2770"/>
          <Point input="61500" output="2795"/>
          <Point input="62000" output="2814"/>
          <Point input="62500" output="2836"/>
          <Point input="63000" output="2855"/>
          <Point input="63500" output="2876"/>
          <Point input="64000" output="2895"/>
          <Point input="64500" output="2918"/>
          <Point input="65000" output="2943"/>
          <Point input="65500" output="2966"/>
          <Point input="66000" output="2993"/>
          <Point input="66500" output="3019"/>
          <Point input="67000" output="3047"/>
          <Point input="67500" output="3078"/>
          <Point input="68000" output="3109"/>
          <Point input="68500" output="3137"/>
          <Point input="69000" output="3174"/>
          <Point input="69500" output="3209"/>
          <Point input="70000" output="3243"/>
          <Point input="70500" output="3277"/>
          <Point input="71000" output="3312"/>
          <Point input="71500" output="3343"/>
          <Point input="72000" output="3380"/>
          <Point input="72500" output="3411"/>
          <Point input="73000" output="3447"/>
          <Point input="73500" output="3472"/>
          <Point input="74000" output="3498"/>
          <Point input="74500" output="3524"/>
          <Point input="75000" output="3549"/>
          <Point input="75500" output="3575"/>
          <Point input="76000" output="3599"/>
          <Point input="76500" output="3620"/>
          <Point input="77000" output="3640"/>
          <Point input="77500" output="3659"/>
          <Point input="78000" output="3678"/>
          <Point input="78500" output="3699"/>
          <Point input="79000" output="3718"/>
          <Point input="79500" output="3735"/>
          <Point input="80000" output="3739"/>
        </Breakpoints>
      </Transform>
    </Channel>
  </Channels>
</HenkieF16FuelFlowHardwareSupportModule>