<?xml version="1.0"?>
<HenkieF16FuelFlowIndicator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM9</COMPort>
      <Address>0x46</Address><!-- Fuel Flow Indicator firmware is given address 0x46, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this Fuel Flow Indicator card. -->
      <StatorBaseAnglesConfig>
        <S1BaseAngleDegrees>113</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>233</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>353</S3BaseAngleDegrees>
      </StatorBaseAnglesConfig>
      <OutputChannelsConfig>
        <DIG_OUT_1> 
          <InitialValue>false</InitialValue>
        </DIG_OUT_1>
        <DIG_OUT_2>
          <InitialValue>false</InitialValue>
        </DIG_OUT_2>
        <DIG_OUT_3>
          <InitialValue>false</InitialValue>
        </DIG_OUT_3>
        <DIG_OUT_4>
          <InitialValue>false</InitialValue>
        </DIG_OUT_4>
        <DIG_OUT_5>
          <InitialValue>false</InitialValue>
        </DIG_OUT_5>
      </OutputChannelsConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      <CalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>500</Input>
          <Output>26</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1000</Input>
          <Output>51</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1500</Input>
          <Output>77</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2000</Input>
          <Output>102</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2500</Input>
          <Output>128</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3000</Input>
          <Output>154</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3500</Input>
          <Output>179</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4000</Input>
          <Output>205</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4500</Input>
          <Output>230</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input>
          <Output>256</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5500</Input>
          <Output>282</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6000</Input>
          <Output>307</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6500</Input>
          <Output>333</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7000</Input>
          <Output>358</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7500</Input>
          <Output>384</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8000</Input>
          <Output>410</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8500</Input>
          <Output>435</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9000</Input>
          <Output>461</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9500</Input>
          <Output>486</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10000</Input>
          <Output>512</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10500</Input>
          <Output>537</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>11000</Input>
          <Output>563</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>11500</Input>
          <Output>589</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>12000</Input>
          <Output>614</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>12500</Input>
          <Output>640</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>13000</Input>
          <Output>665</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>13500</Input>
          <Output>691</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>14000</Input>
          <Output>717</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>14500</Input>
          <Output>742</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>15000</Input>
          <Output>768</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>15500</Input>
          <Output>793</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>16000</Input>
          <Output>819</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>16500</Input>
          <Output>845</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>17000</Input>
          <Output>870</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>17500</Input>
          <Output>896</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>18000</Input>
          <Output>921</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>18500</Input>
          <Output>947</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>19000</Input>
          <Output>973</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>19500</Input>
          <Output>998</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>20000</Input>
          <Output>1024</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>20500</Input>
          <Output>1049</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>21000</Input>
          <Output>1075</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>21500</Input>
          <Output>1101</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>22000</Input>
          <Output>1126</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>22500</Input>
          <Output>1152</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>23000</Input>
          <Output>1177</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>23500</Input>
          <Output>1203</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>24000</Input>
          <Output>1229</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>24500</Input>
          <Output>1254</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>25000</Input>
          <Output>1280</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>25500</Input>
          <Output>1305</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>26000</Input>
          <Output>1331</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>26500</Input>
          <Output>1356</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>27000</Input>
          <Output>1382</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>27500</Input>
          <Output>1408</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>28000</Input>
          <Output>1433</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>28500</Input>
          <Output>1459</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>29000</Input>
          <Output>1484</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>29500</Input>
          <Output>1510</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>30000</Input>
          <Output>1536</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>30500</Input>
          <Output>1561</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>31000</Input>
          <Output>1587</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>31500</Input>
          <Output>1612</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>32000</Input>
          <Output>1638</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>32500</Input>
          <Output>1664</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>33000</Input>
          <Output>1689</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>33500</Input>
          <Output>1715</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>34000</Input>
          <Output>1740</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>34500</Input>
          <Output>1766</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>35000</Input>
          <Output>1792</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>35500</Input>
          <Output>1817</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>36000</Input>
          <Output>1843</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>36500</Input>
          <Output>1868</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>37000</Input>
          <Output>1894</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>37500</Input>
          <Output>1920</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>38000</Input>
          <Output>1945</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>38500</Input>
          <Output>1971</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>39000</Input>
          <Output>1996</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>39500</Input>
          <Output>2022</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>40000</Input>
          <Output>2048</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>40500</Input>
          <Output>2073</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>41000</Input>
          <Output>2099</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>41500</Input>
          <Output>2124</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>42000</Input>
          <Output>2150</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>42500</Input>
          <Output>2175</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>43000</Input>
          <Output>2201</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>43500</Input>
          <Output>2227</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>44000</Input>
          <Output>2252</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>44500</Input>
          <Output>2278</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>45000</Input>
          <Output>2303</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>45500</Input>
          <Output>2329</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>46000</Input>
          <Output>2355</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>46500</Input>
          <Output>2380</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>47000</Input>
          <Output>2406</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>47500</Input>
          <Output>2431</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>48000</Input>
          <Output>2457</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>48500</Input>
          <Output>2483</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>49000</Input>
          <Output>2508</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>49500</Input>
          <Output>2534</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50000</Input>
          <Output>2559</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50500</Input>
          <Output>2585</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>51000</Input>
          <Output>2611</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>51500</Input>
          <Output>2636</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>52000</Input>
          <Output>2662</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>52500</Input>
          <Output>2687</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>53000</Input>
          <Output>2713</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>53500</Input>
          <Output>2739</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>54000</Input>
          <Output>2764</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>54500</Input>
          <Output>2790</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>55000</Input>
          <Output>2815</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>55500</Input>
          <Output>2841</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>56000</Input>
          <Output>2867</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>56500</Input>
          <Output>2892</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>57000</Input>
          <Output>2918</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>57500</Input>
          <Output>2943</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>58000</Input>
          <Output>2969</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>58500</Input>
          <Output>2994</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>59000</Input>
          <Output>3020</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>59500</Input>
          <Output>3046</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>60000</Input>
          <Output>3071</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>60500</Input>
          <Output>3097</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>61000</Input>
          <Output>3122</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>61500</Input>
          <Output>3148</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>62000</Input>
          <Output>3174</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>62500</Input>
          <Output>3199</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>63000</Input>
          <Output>3225</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>63500</Input>
          <Output>3250</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>64000</Input>
          <Output>3276</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>64500</Input>
          <Output>3302</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>65000</Input>
          <Output>3327</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>65500</Input>
          <Output>3353</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>66000</Input>
          <Output>3378</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>66500</Input>
          <Output>3404</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>67000</Input>
          <Output>3430</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>67500</Input>
          <Output>3455</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>68000</Input>
          <Output>3481</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>68500</Input>
          <Output>3506</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>69000</Input>
          <Output>3532</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>69500</Input>
          <Output>3558</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>70000</Input>
          <Output>3583</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>70500</Input>
          <Output>3609</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>71000</Input>
          <Output>3634</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>71500</Input>
          <Output>3660</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>72000</Input>
          <Output>3686</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>72500</Input>
          <Output>3711</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>73000</Input>
          <Output>3737</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>73500</Input>
          <Output>3762</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>74000</Input>
          <Output>3788</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>74500</Input>
          <Output>3813</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>75000</Input>
          <Output>3839</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>75500</Input>
          <Output>3865</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>76000</Input>
          <Output>3890</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>76500</Input>
          <Output>3916</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>77000</Input>
          <Output>3941</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>77500</Input>
          <Output>3967</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>78000</Input>
          <Output>3993</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>78500</Input>
          <Output>4018</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>79000</Input>
          <Output>4044</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>79500</Input>
          <Output>4069</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>80000</Input>
          <Output>4095</Output>
        </CalibrationPoint>
      </CalibrationData>
    </Device>
  </Devices>
</HenkieF16FuelFlowIndicator>