<?xml version="1.0"?>
<HenkF16HSIBoard2Calibration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="Henk_F16_HSI_Board2_Course_Deviation_Indicator_Position_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-3" output="0"/>
          <Point input="-2" output="192"/>
          <Point input="-1" output="216"/>
          <Point input="0" output="639"/>
          <Point input="1" output="1023"/>
        </Breakpoints>
      </Transform>
    </Channel>
  </Channels>
</HenkF16HSIBoard2Calibration>