<?xml version="1.0"?>
<Lilbern3239HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="3239_Fuel_Flow_Pounds_Per_Hour_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="8000" volts="-8"/>
          <Point input="16000" volts="-6"/>
          <Point input="24000" volts="-4"/>
          <Point input="32000" volts="-2"/>
          <Point input="40000" volts="0"/>
          <Point input="48000" volts="2"/>
          <Point input="56000" volts="4"/>
          <Point input="64000" volts="6"/>
          <Point input="72000" volts="8"/>
          <Point input="80000" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Lilbern3239HardwareSupportModule>