<?xml version="1.0"?>
<Malwin19562HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="19562_FTIT_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="19562_FTIT_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="200" angle="0"/>
          <Point input="300" angle="20"/>
          <Point input="400" angle="40"/>
          <Point input="500" angle="60"/>
          <Point input="600" angle="80"/>
          <Point input="700" angle="100"/>
          <Point input="800" angle="160"/>
          <Point input="900" angle="220"/>
          <Point input="1000" angle="280"/>
          <Point input="1100" angle="300"/>
          <Point input="1200" angle="320"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="19562_FTIT_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="19562_FTIT_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Malwin19562HardwareSupportModule>