<?xml version="1.0"?>
<Malwin19563HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="19563_LOX_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="19563_LOX_COS_To_Instrument">
        <UnitsPerRevolution>10</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="19563_LOX_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="19563_LOX_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Malwin19563HardwareSupportModule>