<?xml version="1.0"?>
<Malwin246102HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="246102_Cabin_Pressure_Altitude_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="246102_Cabin_Pressure_Altitude_COS_To_Instrument">
        <UnitsPerRevolution>60000</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="246102_Cabin_Pressure_Altitude_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="246102_Cabin_Pressure_Altitude_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Malwin246102HardwareSupportModule>