<?xml version="1.0"?>
<Malwin19581HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="19581_Hydraulic_Pressure_A_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="19581_Hydraulic_Pressure_A_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="500" angle="40"/>
          <Point input="1000" angle="80"/>
          <Point input="1500" angle="120"/>
          <Point input="2000" angle="160"/>
          <Point input="2500" angle="200"/>
          <Point input="3000" angle="240"/>
          <Point input="3500" angle="280"/>
          <Point input="4000" angle="320"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="19581_Hydraulic_Pressure_A_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="19581_Hydraulic_Pressure_A_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="19581_Hydraulic_Pressure_B_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="19581_Hydraulic_Pressure_B_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="500" angle="40"/>
          <Point input="1000" angle="80"/>
          <Point input="1500" angle="120"/>
          <Point input="2000" angle="160"/>
          <Point input="2500" angle="200"/>
          <Point input="3000" angle="240"/>
          <Point input="3500" angle="280"/>
          <Point input="4000" angle="320"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="19581_Hydraulic_Pressure_B_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="19581_Hydraulic_Pressure_B_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Malwin19581HardwareSupportModule>