<?xml version="1.0"?>
<Simtek100207HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="100207_RPM_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="10" volts="-8.75"/>
          <Point input="20" volts="-7.5"/>
          <Point input="30" volts="-6.25"/>
          <Point input="40" volts="-5"/>
          <Point input="50" volts="-3.75"/>
          <Point input="60" volts="-2.5"/>
          <Point input="65" volts="-0.938"/>
          <Point input="68" volts="0"/>
          <Point input="70" volts="0.625"/>
          <Point input="75" volts="2.188"/>
          <Point input="80" volts="3.75"/>
          <Point input="85" volts="5.313"/>
          <Point input="90" volts="6.875"/>
          <Point input="95" volts="8.438"/>
          <Point input="100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek100207HardwareSupportModule>