<?xml version="1.0"?>
<Simtek100335015HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="10033501_Pitch_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="10033501_Pitch_COS_To_Instrument">
        <Breakpoints>
          <Point input="-90" angle="-90"/>
          <Point input="-45" angle="-45"/>
          <Point input="-30" angle="-36"/>
          <Point input="-20" angle="-20"/>
          <Point input="-10" angle="-10"/>
          <Point input="0" angle="0"/>
          <Point input="10" angle="10"/>
          <Point input="20" angle="20"/>
          <Point input="30" angle="30"/>
          <Point input="45" angle="45"/>
          <Point input="90" angle="90"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
      <CagedRestEnabled>false</CagedRestEnabled>
      <CagedRestRangeMinDegrees>-20</CagedRestRangeMinDegrees>
      <CagedRestRangeMaxDegrees>20</CagedRestRangeMaxDegrees>
    </Channel>
    <Channel id="10033501_Pitch_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="10033501_Pitch_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10033501_Roll_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="10033501_Roll_COS_To_Instrument">
        <Breakpoints>
          <Point input="-180" angle="-180"/>
          <Point input="-150" angle="-150"/>
          <Point input="-122.5" angle="-122.2"/>
          <Point input="-120" angle="-120"/>
          <Point input="-90" angle="-90"/>
          <Point input="-60" angle="-60"/>
          <Point input="-45" angle="-45"/>
          <Point input="-30" angle="-30"/>
          <Point input="0" angle="0"/>
          <Point input="30" angle="30"/>
          <Point input="60" angle="60"/>
          <Point input="90" angle="90"/>
          <Point input="120" angle="120"/>
          <Point input="150" angle="150"/>
          <Point input="180" angle="180"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
      <CagedRestEnabled>false</CagedRestEnabled>
      <CagedRestRangeMinDegrees>-40</CagedRestRangeMinDegrees>
      <CagedRestRangeMaxDegrees>40</CagedRestRangeMaxDegrees>
    </Channel>
    <Channel id="10033501_Roll_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="10033501_Roll_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10033501_OFF_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
  </Channels>
</Simtek100335015HardwareSupportModule>