<?xml version="1.0"?>
<Simtek100285HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="100285_Altitude_Fine_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="100285_Altitude_Fine_COS_To_Instrument">
        <UnitsPerRevolution>4000</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100285_Altitude_Fine_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="100285_Altitude_Fine_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100285_Altitude_Coarse_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="100285_Altitude_Coarse_COS_To_Instrument">
        <UnitsPerRevolution>100000</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100285_Altitude_Coarse_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="100285_Altitude_Coarse_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
  <MinBaroPressureInHg>28.1</MinBaroPressureInHg>
  <MaxBaroPressureInHg>31</MaxBaroPressureInHg>
  <IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>2685</IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>
  <AltitudeZeroOffsetInFeet>0</AltitudeZeroOffsetInFeet>
</Simtek100285HardwareSupportModule>