<?xml version="1.0"?>
<Simtek100294HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="100294_Counter_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="1000" volts="-7.98"/>
          <Point input="2000" volts="-5.96"/>
          <Point input="3000" volts="-3.94"/>
          <Point input="4000" volts="-1.92"/>
          <Point input="5000" volts="0.11"/>
          <Point input="6000" volts="2.12"/>
          <Point input="7000" volts="4.14"/>
          <Point input="8000" volts="6.16"/>
          <Point input="9900" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100294_AL_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="500" volts="-7.62"/>
          <Point input="1000" volts="-5.24"/>
          <Point input="1500" volts="-2.86"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.9"/>
          <Point input="3000" volts="4.29"/>
          <Point input="3500" volts="6.67"/>
          <Point input="4200" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100294_FR_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="500" volts="-7.62"/>
          <Point input="1000" volts="-5.24"/>
          <Point input="1500" volts="-2.86"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.9"/>
          <Point input="3000" volts="4.29"/>
          <Point input="3500" volts="6.67"/>
          <Point input="4200" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
  <MaxPoundsTotalFuel>9900</MaxPoundsTotalFuel>
</Simtek100294HardwareSupportModule>