<?xml version="1.0"?>
<Simtek105868HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="105868_EPU_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="10" volts="-8"/>
          <Point input="20" volts="-6"/>
          <Point input="30" volts="-4"/>
          <Point input="40" volts="-2"/>
          <Point input="50" volts="0"/>
          <Point input="60" volts="2"/>
          <Point input="70" volts="4"/>
          <Point input="80" volts="6"/>
          <Point input="90" volts="8"/>
          <Point input="100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek105868HardwareSupportModule>