<?xml version="1.0"?>
<Simtek105859HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="105859_Pitch_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="105859_Pitch_COS_To_Instrument">
        <Breakpoints>
          <Point input="-90" angle="194.82"/>
          <Point input="-60" angle="232.94"/>
          <Point input="-30" angle="296.47"/>
          <Point input="-20" angle="317.65"/>
          <Point input="-10" angle="338.82"/>
          <Point input="0" angle="360"/>
          <Point input="10" angle="381.18"/>
          <Point input="20" angle="402.35"/>
          <Point input="30" angle="423.53"/>
          <Point input="60" angle="487.1"/>
          <Point input="90" angle="554.82"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="105859_Pitch_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="105859_Pitch_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="105859_Roll_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="105859_Roll_COS_To_Instrument">
        <Breakpoints>
          <Point input="-90" angle="270"/>
          <Point input="-60" angle="300"/>
          <Point input="-30" angle="330"/>
          <Point input="-10" angle="350"/>
          <Point input="0" angle="360"/>
          <Point input="10" angle="370"/>
          <Point input="30" angle="390"/>
          <Point input="60" angle="420"/>
          <Point input="90" angle="450"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="105859_Roll_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="105859_Roll_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek105859HardwareSupportModule>