<?xml version="1.0"?>
<Simtek101090HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="101090_EPU_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="25" volts="-5"/>
          <Point input="50" volts="0"/>
          <Point input="75" volts="5"/>
          <Point input="100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek101090HardwareSupportModule>