<?xml version="1.0"?>
<Simtek10108902HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="10108902_Counter_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="2010" volts="-8"/>
          <Point input="4020" volts="-6"/>
          <Point input="6030" volts="-4"/>
          <Point input="8040" volts="-2"/>
          <Point input="10050" volts="0"/>
          <Point input="12060" volts="2"/>
          <Point input="14070" volts="4"/>
          <Point input="16080" volts="6"/>
          <Point input="18090" volts="8"/>
          <Point input="20100" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10108902_AL_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="500" volts="-7.62"/>
          <Point input="1000" volts="-5.24"/>
          <Point input="1500" volts="-2.86"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.9"/>
          <Point input="3000" volts="4.29"/>
          <Point input="3500" volts="6.67"/>
          <Point input="4200" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10108902_FR_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="500" volts="-7.62"/>
          <Point input="1000" volts="-5.24"/>
          <Point input="1500" volts="-2.86"/>
          <Point input="2100" volts="0"/>
          <Point input="2500" volts="1.9"/>
          <Point input="3000" volts="4.29"/>
          <Point input="3500" volts="6.67"/>
          <Point input="4200" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek10108902HardwareSupportModule>