<?xml version="1.0"?>
<Simtek105862HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="105862_Nozzle_Position_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="105862_Nozzle_Position_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="20" angle="45"/>
          <Point input="40" angle="90"/>
          <Point input="60" angle="135"/>
          <Point input="80" angle="180"/>
          <Point input="100" angle="225"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="105862_Nozzle_Position_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="105862_Nozzle_Position_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek105862HardwareSupportModule>