<?xml version="1.0"?>
<Simtek100216HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="100216_FTIT_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="200" volts="-10"/>
          <Point input="700" volts="-3.75"/>
          <Point input="1000" volts="7.5"/>
          <Point input="1200" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek100216HardwareSupportModule>