<?xml version="1.0"?>
<Simtek10058201HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="10058201_AOA_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-5" volts="-6.37"/>
          <Point input="13" volts="0"/>
          <Point input="40" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek10058201HardwareSupportModule>