<?xml version="1.0"?>
<Simtek101091HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="101091_Oil_Pressure_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="101091_Oil_Pressure_COS_To_Instrument">
        <Breakpoints>
          <Point input="0" angle="0"/>
          <Point input="10" angle="32"/>
          <Point input="20" angle="64"/>
          <Point input="30" angle="96"/>
          <Point input="40" angle="128"/>
          <Point input="50" angle="160"/>
          <Point input="60" angle="192"/>
          <Point input="70" angle="224"/>
          <Point input="80" angle="256"/>
          <Point input="90" angle="288"/>
          <Point input="100" angle="320"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="101091_Oil_Pressure_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="101091_Oil_Pressure_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek101091HardwareSupportModule>