<?xml version="1.0"?>
<Simtek100285HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MinBaroPressureInHg>28.10</MinBaroPressureInHg>
  <MaxBaroPressureInHg>31.00</MaxBaroPressureInHg>
  <IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>2685</IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>
  <AltitudeZeroOffsetInFeet>0</AltitudeZeroOffsetInFeet>
</Simtek100285HardwareSupportModule>
