<?xml version="1.0"?>
<Simtek10067202HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="10067202_Pitch_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="10067202_Pitch_COS_To_Instrument">
        <Breakpoints>
          <Point input="-90" angle="-190"/>
          <Point input="-80" angle="-166"/>
          <Point input="-70" angle="-148"/>
          <Point input="-60" angle="-127"/>
          <Point input="-50" angle="-106"/>
          <Point input="-40" angle="-85"/>
          <Point input="-30" angle="-64"/>
          <Point input="-20" angle="-42"/>
          <Point input="-10" angle="-21"/>
          <Point input="0" angle="0"/>
          <Point input="10" angle="21"/>
          <Point input="20" angle="42"/>
          <Point input="30" angle="64"/>
          <Point input="40" angle="85"/>
          <Point input="50" angle="106"/>
          <Point input="60" angle="127"/>
          <Point input="70" angle="148"/>
          <Point input="80" angle="166"/>
          <Point input="90" angle="190"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
      <CagedRestEnabled>false</CagedRestEnabled>
      <CagedRestRangeMinDegrees>-20</CagedRestRangeMinDegrees>
      <CagedRestRangeMaxDegrees>20</CagedRestRangeMaxDegrees>
    </Channel>
    <Channel id="10067202_Pitch_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="10067202_Pitch_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10067202_Roll_SIN_To_Instrument">
      <Transform kind="piecewise_resolver" role="sin" partnerChannel="10067202_Roll_COS_To_Instrument">
        <Breakpoints>
          <Point input="-180" angle="-180"/>
          <Point input="-90" angle="-90"/>
          <Point input="-60" angle="-60"/>
          <Point input="-30" angle="-30"/>
          <Point input="0" angle="0"/>
          <Point input="30" angle="30"/>
          <Point input="60" angle="60"/>
          <Point input="90" angle="90"/>
          <Point input="180" angle="180"/>
        </Breakpoints>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
      <CagedRestEnabled>false</CagedRestEnabled>
      <CagedRestRangeMinDegrees>-40</CagedRestRangeMinDegrees>
      <CagedRestRangeMaxDegrees>40</CagedRestRangeMaxDegrees>
    </Channel>
    <Channel id="10067202_Roll_COS_To_Instrument">
      <Transform kind="piecewise_resolver" role="cos" partnerChannel="10067202_Roll_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="10067202_OFF_Flag_To_Instrument">
      <Transform kind="digital_invert">
      </Transform>
      <Invert>true</Invert>
    </Channel>
  </Channels>
</Simtek10067202HardwareSupportModule>