<?xml version="1.0"?>
<Simtek100194HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="100194_Airspeed_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="-10"/>
          <Point input="80" volts="-8.82"/>
          <Point input="90" volts="-8.24"/>
          <Point input="100" volts="-7.65"/>
          <Point input="110" volts="-7.06"/>
          <Point input="120" volts="-6.47"/>
          <Point input="130" volts="-5.88"/>
          <Point input="140" volts="-5.29"/>
          <Point input="150" volts="-4.71"/>
          <Point input="160" volts="-4.12"/>
          <Point input="170" volts="-3.53"/>
          <Point input="180" volts="-2.94"/>
          <Point input="190" volts="-2.35"/>
          <Point input="200" volts="-1.77"/>
          <Point input="210" volts="-1.47"/>
          <Point input="220" volts="-1.18"/>
          <Point input="230" volts="-0.88"/>
          <Point input="240" volts="-0.59"/>
          <Point input="250" volts="-0.29"/>
          <Point input="260" volts="0"/>
          <Point input="270" volts="0.29"/>
          <Point input="280" volts="0.59"/>
          <Point input="290" volts="0.88"/>
          <Point input="300" volts="1.18"/>
          <Point input="310" volts="1.41"/>
          <Point input="320" volts="1.65"/>
          <Point input="330" volts="1.88"/>
          <Point input="340" volts="2.12"/>
          <Point input="350" volts="2.35"/>
          <Point input="360" volts="2.58"/>
          <Point input="370" volts="2.82"/>
          <Point input="380" volts="3.06"/>
          <Point input="390" volts="3.29"/>
          <Point input="400" volts="3.53"/>
          <Point input="450" volts="4.41"/>
          <Point input="500" volts="5.29"/>
          <Point input="550" volts="6.06"/>
          <Point input="600" volts="6.82"/>
          <Point input="650" volts="7.53"/>
          <Point input="700" volts="8.24"/>
          <Point input="750" volts="8.82"/>
          <Point input="800" volts="9.53"/>
          <Point input="850" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="100194_Mach_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0.5" volts="-7.56"/>
          <Point input="0.55" volts="-6.56"/>
          <Point input="0.6" volts="-5.65"/>
          <Point input="0.65" volts="-4.81"/>
          <Point input="0.7" volts="-4.01"/>
          <Point input="0.75" volts="-3.24"/>
          <Point input="0.8" volts="-2.52"/>
          <Point input="0.85" volts="-1.83"/>
          <Point input="0.9" volts="-1.18"/>
          <Point input="0.95" volts="-0.57"/>
          <Point input="1" volts="0"/>
          <Point input="1.05" volts="0.53"/>
          <Point input="1.1" volts="1.07"/>
          <Point input="1.15" volts="1.56"/>
          <Point input="1.2" volts="2.06"/>
          <Point input="1.25" volts="2.52"/>
          <Point input="1.3" volts="2.98"/>
          <Point input="1.35" volts="3.43"/>
          <Point input="1.4" volts="3.85"/>
          <Point input="1.45" volts="4.27"/>
          <Point input="1.5" volts="4.69"/>
          <Point input="1.55" volts="5.08"/>
          <Point input="1.6" volts="5.46"/>
          <Point input="1.65" volts="5.84"/>
          <Point input="1.7" volts="6.18"/>
          <Point input="1.75" volts="6.53"/>
          <Point input="1.8" volts="6.87"/>
          <Point input="1.85" volts="7.17"/>
          <Point input="1.9" volts="7.48"/>
          <Point input="1.95" volts="7.79"/>
          <Point input="2" volts="8.05"/>
          <Point input="2.05" volts="8.32"/>
          <Point input="2.1" volts="8.59"/>
          <Point input="2.15" volts="8.85"/>
          <Point input="2.2" volts="9.08"/>
          <Point input="2.4" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
      <CoupledTo>100194_Airspeed_To_Instrument</CoupledTo>
    </Channel>
  </Channels>
</Simtek100194HardwareSupportModule>