<?xml version="1.0"?>
<Simtek101081HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="101081_Altitude_Fine_SIN_To_Instrument">
      <Transform kind="multi_resolver" role="sin" partnerChannel="101081_Altitude_Fine_COS_To_Instrument">
        <UnitsPerRevolution>1000</UnitsPerRevolution>
        <PeakVolts>10</PeakVolts>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="101081_Altitude_Fine_COS_To_Instrument">
      <Transform kind="multi_resolver" role="cos" partnerChannel="101081_Altitude_Fine_SIN_To_Instrument">
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
    <Channel id="101081_Altitude_Coarse_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-1000" volts="-10"/>
          <Point input="0" volts="-9.75"/>
          <Point input="80000" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek101081HardwareSupportModule>