<?xml version="1.0"?>
<Simtek10058102HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="10058102_Vertical_Velocity_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="-6000" volts="-6.37"/>
          <Point input="-3000" volts="-4.71"/>
          <Point input="-1000" volts="-1.81"/>
          <Point input="-400" volts="0"/>
          <Point input="0" volts="1.83"/>
          <Point input="1000" volts="5.48"/>
          <Point input="3000" volts="8.38"/>
          <Point input="6000" volts="10"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Simtek10058102HardwareSupportModule>