<?xml version="1.0"?>
<TeensyEWMUHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--<COMPort>COM7</COMPort>-->
	<COMPort>COM8</COMPort>
	<DXOutputs>
    <Output>
      <ID>CMDS_O1</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_O2</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_CH</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_FL</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_Jettison</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_PRGM_BIT</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_PRGM_1</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_PRGM_2</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_PRGM_3</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_PRGM_4</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MWS</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_JMR</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_RWR</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_DISP</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MODE_OFF</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MODE_STBY</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MODE_MAN</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MODE_SEMI</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_AND_EWMU_MODE_AUTO</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>CMDS_MODE_BYP</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_MWS_MENU</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_JMR_MENU</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_RWR_MENU</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_DISP_MENU</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWPI_PRI</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWPI_SEP</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWPI_UNK</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWPI_MD</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_SET1</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_SET2</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_SET3</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_SET4</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_NXT_UP</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_NXT_DOWN</ID>
      <Invert>false</Invert>
    </Output>
    <Output>
      <ID>EWMU_RTN</ID>
      <Invert>false</Invert>
    </Output>
  </DXOutputs>
</TeensyEWMUHardwareSupportModuleConfig>