<?xml version="1.0"?>
<Westin521993HardwareSupportModule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channels>
    <Channel id="521993_EPU_To_Instrument">
      <Transform kind="piecewise">
        <Breakpoints>
          <Point input="0" volts="0.1"/>
          <Point input="10" volts="0.29"/>
          <Point input="20" volts="0.48"/>
          <Point input="30" volts="0.67"/>
          <Point input="40" volts="0.86"/>
          <Point input="50" volts="1.05"/>
          <Point input="60" volts="1.24"/>
          <Point input="70" volts="1.43"/>
          <Point input="80" volts="1.62"/>
          <Point input="90" volts="1.81"/>
          <Point input="100" volts="2"/>
        </Breakpoints>
      </Transform>
      <ZeroTrimVolts>0</ZeroTrimVolts>
      <GainTrim>1</GainTrim>
    </Channel>
  </Channels>
</Westin521993HardwareSupportModule>