<?xml version="1.0"?>
<TeensyRWRHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <COMPort>COM5</COMPort>
  <RotationDegrees>-45</RotationDegrees>
  <TestPattern>0</TestPattern>
  <Centering>
    <OffsetX>240</OffsetX>
    <!-- 0 to 4095 -->
    <OffsetY>-40</OffsetY>
    <!-- 0 to 4095 -->
  </Centering>

  <Scaling>
    <ScaleX>.82</ScaleX>
    <!-- 0.0 to 1.0 -->
    <ScaleY>.82</ScaleY>
    <!-- 0.0 to 1.0 -->
  </Scaling>
  <!-- X AXIS CALIBRATION TABLE -->
  <XAxisCalibrationData>
    <CalibrationPoint>
      <Input>0</Input>
      <!-- 0 to 4095 -->
      <Output>0</Output>
      <!-- 0 to 4095 -->
    </CalibrationPoint>
    <CalibrationPoint>
      <Input>4095</Input>
      <!-- 0 to 4095 -->
      <Output>4095</Output>
      <!-- 0 to 4095 -->
    </CalibrationPoint>
  </XAxisCalibrationData>

  <!-- Y AXIS CALIBRATION TABLE -->
  <YAxisCalibrationData>
    <CalibrationPoint>
      <Input>0</Input>
      <!-- 0 to 4095 -->
      <Output>0</Output>
      <!-- 0 to 4095 -->
    </CalibrationPoint>
    <CalibrationPoint>
      <Input>4095</Input>
      <!-- 0 to 4095 -->
      <Output>4095</Output>
      <!-- 0 to 4095 -->
    </CalibrationPoint>
  </YAxisCalibrationData>

</TeensyRWRHardwareSupportModuleConfig>