<?xml version="1.0"?>
<TeensyEWMUHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <COMPort>COM6</COMPort>
  <DXOutputs>
    <DXOutput ID="CMDS_O1" Invert="false"/>
    <DXOutput ID="CMDS_O2" Invert="false"/>
    <DXOutput ID="CMDS_CH" Invert="false"/>
    <DXOutput ID="CMDS_FL" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_Jettison" Invert="false"/>
    <DXOutput ID="CMDS_PRGM_BIT" Invert="false"/>
    <DXOutput ID="CMDS_PRGM_1" Invert="false"/>
    <DXOutput ID="CMDS_PRGM_2" Invert="false"/>
    <DXOutput ID="CMDS_PRGM_3" Invert="false"/>
    <DXOutput ID="CMDS_PRGM_4" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MWS" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_JMR" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_RWR" Invert="false"/>
    <DXOutput ID="EWMU_DISP" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MODE_OFF" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MODE_STBY" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MODE_MAN" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MODE_SEMI" Invert="false"/>
    <DXOutput ID="CMDS_AND_EWMU_MODE_AUTO" Invert="false"/>
    <DXOutput ID="CMDS_MODE_BYP" Invert="false"/>
    <DXOutput ID="EWMU_MWS_MENU" Invert="false"/>
    <DXOutput ID="EWMU_JMR_MENU" Invert="false"/>
    <DXOutput ID="EWMU_RWR_MENU" Invert="false"/>
    <DXOutput ID="EWMU_DISP_MENU" Invert="false"/>
    <DXOutput ID="EWPI_PRI" Invert="false"/>
    <DXOutput ID="EWPI_SEP" Invert="false"/>
    <DXOutput ID="EWPI_UNK" Invert="false"/>
    <DXOutput ID="EWPI_MD" Invert="false"/>
    <DXOutput ID="EWMU_SET1" Invert="false"/>
    <DXOutput ID="EWMU_SET2" Invert="false"/>
    <DXOutput ID="EWMU_SET3" Invert="false"/>
    <DXOutput ID="EWMU_SET4" Invert="false"/>
    <DXOutput ID="EWMU_NXT_UP" Invert="false"/>
    <DXOutput ID="EWMU_NXT_DOWN" Invert="false"/>
    <DXOutput ID="EWMU_RTN" Invert="false"/>
  </DXOutputs>
</TeensyEWMUHardwareSupportModuleConfig>