<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.1.2" targetFramework="net48" />
  <package id="AWSSDK.Polly" version="3.7.1.17" targetFramework="net48" />
  <package id="Costura.Fody" version="5.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.5.2" targetFramework="net48" developmentDependency="true" />
  <package id="Google.Apis" version="1.53.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.53.0" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net48" />
</packages>