<?xml version="1.0"?>

<PowellIP1310ALRHardwareSupportModuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                 xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DeviceID>RWR00</DeviceID>
  <COMPort>COM5</COMPort>
  <DelayBetweenCharactersMillis>20</DelayBetweenCharactersMillis>
  <DelayBetweenCommandsMillis>150</DelayBetweenCommandsMillis>
</PowellIP1310ALRHardwareSupportModuleConfig>