<?xml version="1.0"?>
<DTSCard xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device><!-- ******* HYD PRESSURE A ******* -->
      <Serial>HYD A</Serial>
      <CalibrationData>
        <CalibrationPoint>
          <Input>0</Input>  <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>0</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1000</Input><!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>72</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>144</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>216</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>288</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>360</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
      </CalibrationData>
    </Device><!-- ******* HYD PRESSURE A ******* -->
    <Device><!-- ******* FUEL FLOW ******* -->
      <Serial>FUEL FLOW</Serial>
      <CalibrationData>
        <CalibrationPoint>
          <Input>0</Input>  <!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>220</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
          <Input>70000</Input>  <!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>360</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
      </CalibrationData>
    </Device><!-- ******* FUEL FLOW ******* -->
  </Devices>
</DTSCard>