<?xml version="1.0"?>
<DTSCard xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device><!-- ******* HYD PRESSURE A ******* -->
      <Serial>A0000</Serial>
      <CalibrationData>
        <CalibrationPoint>
          <Input>0</Input><!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>0</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1000</Input><!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>72</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>144</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>216</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>288</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input> <!-- HYD PRESSURE VALUE FROM SIM (0-5000) -->
          <Output>360</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
      </CalibrationData>
    </Device><!-- ******* HYD PRESSURE A ******* -->
    <Device><!-- ******* FUEL FLOW ******* -->
      <Serial>A1111</Serial>
      <DeadZone>
        <FromDegrees>19.9</FromDegrees>
        <ToDegrees>219.9</ToDegrees>
      </DeadZone>
      <CalibrationData>
        <CalibrationPoint><!-- IF WE SEE ANY NEGATIVE FUEL FLOW VALUE, USE THE SAME ANGLE AS WE DO FOR ZERO FEET -->
          <Input>-1000000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>219.9</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>0</Input>  <!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>219.9</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>885</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>221.6</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2500</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>224.85</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>229.85</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>239.85</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>20000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>259.9</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>30000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>280</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>40000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>299.95</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>319.90</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>60000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>339.80</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>70000</Input>  <!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>360</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>80000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>19.90</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
        <CalibrationPoint> <!-- ANYTHING ABOVE 80K, SAME AS 80K TO AVOID RUNNING UP AGAINST MECHANICAL STOPS-->
          <Input>100000000</Input><!-- FUEL FLOW IN LBS FROM SIM (0-99000) -->
          <Output>19.90</Output><!-- SYNCHRO ANGLE IN DEGREES (0-360) -->
        </CalibrationPoint>
      </CalibrationData>
    </Device><!-- ******* FUEL FLOW ******* -->
  </Devices>
</DTSCard>