<?xml version="1.0"?>
<HenkieF16Altimeter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM4</COMPort>
      <Address>0x41</Address><!-- Altimeter firmware is given address 0x41, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this Altimeter card. -->
      <StatorBaseAnglesConfig>
        <S1BaseAngleDegrees>0</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>120</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>240</S3BaseAngleDegrees>
      </StatorBaseAnglesConfig>
      <OutputChannelsConfig>
        <DIG_OUT_1> 
          <InitialValue>false</InitialValue>
        </DIG_OUT_1>
        <DIG_OUT_2>
          <InitialValue>false</InitialValue>
        </DIG_OUT_2>
        <DIG_OUT_3>
          <InitialValue>false</InitialValue>
        </DIG_OUT_3>
      </OutputChannelsConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      <MinBaroPressureInHg>28.10</MinBaroPressureInHg>
      <MaxBaroPressureInHg>31.00</MaxBaroPressureInHg>
      <IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>2685</IndicatedAltitudeDifferenceInFeetFromMinBaroToMaxBaro>
      <CalibrationData>
        <CalibrationPoint>
          <Input>0</Input>
          <Output>0</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50</Input>
          <Output>20</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>100</Input>
          <Output>40</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>150</Input>
          <Output>61</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>200</Input>
          <Output>81</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>250</Input>
          <Output>102</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>300</Input>
          <Output>122</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>350</Input>
          <Output>143</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>400</Input>
          <Output>163</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>450</Input>
          <Output>184</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>500</Input>
          <Output>204</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>550</Input>
          <Output>225</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>600</Input>
          <Output>245</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>650</Input>
          <Output>266</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>700</Input>
          <Output>286</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>750</Input>
          <Output>307</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>800</Input>
          <Output>327</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>850</Input>
          <Output>348</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>900</Input>
          <Output>368</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>950</Input>
          <Output>389</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1000</Input>
          <Output>409</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1050</Input>
          <Output>429</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1100</Input>
          <Output>450</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1150</Input>
          <Output>470</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1200</Input>
          <Output>491</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1250</Input>
          <Output>511</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1300</Input>
          <Output>532</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1350</Input>
          <Output>552</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1400</Input>
          <Output>573</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1450</Input>
          <Output>593</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1500</Input>
          <Output>614</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1550</Input>
          <Output>634</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1600</Input>
          <Output>655</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1650</Input>
          <Output>675</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1700</Input>
          <Output>696</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1750</Input>
          <Output>716</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1800</Input>
          <Output>737</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1850</Input>
          <Output>757</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1900</Input>
          <Output>778</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>1950</Input>
          <Output>798</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2000</Input>
          <Output>819</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2050</Input>
          <Output>839</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2100</Input>
          <Output>859</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2150</Input>
          <Output>880</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2200</Input>
          <Output>900</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2250</Input>
          <Output>921</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2300</Input>
          <Output>941</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2350</Input>
          <Output>962</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2400</Input>
          <Output>982</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2450</Input>
          <Output>1003</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2500</Input>
          <Output>1023</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2550</Input>
          <Output>1044</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2600</Input>
          <Output>1064</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2650</Input>
          <Output>1085</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2700</Input>
          <Output>1105</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2750</Input>
          <Output>1126</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2800</Input>
          <Output>1146</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2850</Input>
          <Output>1167</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2900</Input>
          <Output>1187</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2950</Input>
          <Output>1208</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3000</Input>
          <Output>1228</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3050</Input>
          <Output>1248</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3100</Input>
          <Output>1269</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3150</Input>
          <Output>1289</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3200</Input>
          <Output>1310</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3250</Input>
          <Output>1330</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3300</Input>
          <Output>1351</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3350</Input>
          <Output>1371</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3400</Input>
          <Output>1392</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3450</Input>
          <Output>1412</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3500</Input>
          <Output>1433</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3550</Input>
          <Output>1453</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3600</Input>
          <Output>1474</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3650</Input>
          <Output>1494</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3700</Input>
          <Output>1515</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3750</Input>
          <Output>1535</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3800</Input>
          <Output>1556</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3850</Input>
          <Output>1576</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3900</Input>
          <Output>1597</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3950</Input>
          <Output>1617</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4000</Input>
          <Output>1638</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4050</Input>
          <Output>1658</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4100</Input>
          <Output>1678</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4150</Input>
          <Output>1699</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4200</Input>
          <Output>1719</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4250</Input>
          <Output>1740</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4300</Input>
          <Output>1760</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4350</Input>
          <Output>1781</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4400</Input>
          <Output>1801</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4450</Input>
          <Output>1822</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4500</Input>
          <Output>1842</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4550</Input>
          <Output>1863</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4600</Input>
          <Output>1883</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4650</Input>
          <Output>1904</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4700</Input>
          <Output>1924</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4750</Input>
          <Output>1945</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4800</Input>
          <Output>1965</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4850</Input>
          <Output>1986</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4900</Input>
          <Output>2006</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4950</Input>
          <Output>2027</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input>
          <Output>2047</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5050</Input>
          <Output>2067</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5100</Input>
          <Output>2088</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5150</Input>
          <Output>2108</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5200</Input>
          <Output>2129</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5250</Input>
          <Output>2149</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5300</Input>
          <Output>2170</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5350</Input>
          <Output>2190</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5400</Input>
          <Output>2211</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5450</Input>
          <Output>2231</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5500</Input>
          <Output>2252</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5550</Input>
          <Output>2272</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5600</Input>
          <Output>2293</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5650</Input>
          <Output>2313</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5700</Input>
          <Output>2334</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5750</Input>
          <Output>2354</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5800</Input>
          <Output>2375</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5850</Input>
          <Output>2395</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5900</Input>
          <Output>2416</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5950</Input>
          <Output>2436</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6000</Input>
          <Output>2457</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6050</Input>
          <Output>2477</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6100</Input>
          <Output>2497</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6150</Input>
          <Output>2518</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6200</Input>
          <Output>2538</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6250</Input>
          <Output>2559</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6300</Input>
          <Output>2579</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6350</Input>
          <Output>2600</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6400</Input>
          <Output>2620</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6450</Input>
          <Output>2641</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6500</Input>
          <Output>2661</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6550</Input>
          <Output>2682</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6600</Input>
          <Output>2702</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6650</Input>
          <Output>2723</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6700</Input>
          <Output>2743</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6750</Input>
          <Output>2764</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6800</Input>
          <Output>2784</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6850</Input>
          <Output>2805</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6900</Input>
          <Output>2825</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6950</Input>
          <Output>2846</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7000</Input>
          <Output>2866</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7050</Input>
          <Output>2886</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7100</Input>
          <Output>2907</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7150</Input>
          <Output>2927</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7200</Input>
          <Output>2948</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7250</Input>
          <Output>2968</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7300</Input>
          <Output>2989</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7350</Input>
          <Output>3009</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7400</Input>
          <Output>3030</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7450</Input>
          <Output>3050</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7500</Input>
          <Output>3071</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7550</Input>
          <Output>3091</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7600</Input>
          <Output>3112</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7650</Input>
          <Output>3132</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7700</Input>
          <Output>3153</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7750</Input>
          <Output>3173</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7800</Input>
          <Output>3194</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7850</Input>
          <Output>3214</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7900</Input>
          <Output>3235</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7950</Input>
          <Output>3255</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8000</Input>
          <Output>3276</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8050</Input>
          <Output>3296</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8100</Input>
          <Output>3316</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8150</Input>
          <Output>3337</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8200</Input>
          <Output>3357</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8250</Input>
          <Output>3378</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8300</Input>
          <Output>3398</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8350</Input>
          <Output>3419</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8400</Input>
          <Output>3439</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8450</Input>
          <Output>3460</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8500</Input>
          <Output>3480</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8550</Input>
          <Output>3501</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8600</Input>
          <Output>3521</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8650</Input>
          <Output>3542</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8700</Input>
          <Output>3562</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8750</Input>
          <Output>3583</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8800</Input>
          <Output>3603</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8850</Input>
          <Output>3624</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8900</Input>
          <Output>3644</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8950</Input>
          <Output>3665</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9000</Input>
          <Output>3685</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9050</Input>
          <Output>3705</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9100</Input>
          <Output>3726</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9150</Input>
          <Output>3746</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9200</Input>
          <Output>3767</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9250</Input>
          <Output>3787</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9300</Input>
          <Output>3808</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9350</Input>
          <Output>3828</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9400</Input>
          <Output>3849</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9450</Input>
          <Output>3869</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9500</Input>
          <Output>3890</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9550</Input>
          <Output>3910</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9600</Input>
          <Output>3931</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9650</Input>
          <Output>3951</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9700</Input>
          <Output>3972</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9750</Input>
          <Output>3992</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9800</Input>
          <Output>4013</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9850</Input>
          <Output>4033</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9900</Input>
          <Output>4054</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9950</Input>
          <Output>4074</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10000</Input>
          <Output>4095</Output>
        </CalibrationPoint>
      </CalibrationData>
    </Device>
  </Devices>
</HenkieF16Altimeter>