<?xml version="1.0"?>
<HenkSDI xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <!--PITCH SDI-->
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM4</COMPort>
      <Address>0x30</Address><!-- PITCH SDI firmware is given address 0x30, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this SDI card. -->
      <PowerDownConfig>
        <Enabled>false</Enabled><!-- can reduce hum, if enabled, but is disabled by default due to undesirable side effects on accuracy of positioning of the synchro at low power-->
        <Level>Half</Level><!-- can be either Half or Full -->
        <DelayTimeMilliseconds>512</DelayTimeMilliseconds><!-- 512 is the default; allowed range is from 0 to 2016 -->
      </PowerDownConfig>
      <StatorBaseAnglesConfig>
        <!-- SETTINGS FOR WHEN 2ND ORDER 400 HZ FILTER IS *NOT* USED -->
        <S1BaseAngleDegrees>240</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>0</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>120</S3BaseAngleDegrees>
        
        <!-- SETTINGS FOR WHEN 2ND-ORDER 400 HZ FILTER *IS* USED -->
        <!--
        <S1BaseAngleDegrees>100</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>220</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>340</S3BaseAngleDegrees>
        -->
      </StatorBaseAnglesConfig>
      <MovementLimitsConfig>
        <Min>35</Min><!-- allowed range: 0 to 255; 0=no minimum limit-->
        <Max>175</Max><!-- allowed range: 0 to 255; 255=no maximum limit-->
      </MovementLimitsConfig>
      <OutputChannelsConfig>
        <DIG_PWM_1> <!-- ENABLE PITCH/ROLL -->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=DISABLED, 1=ENABLED -->
        </DIG_PWM_1>
        <DIG_PWM_2> <!-- GS POWER ON/OFF  -->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=DISABLED, 1=ENABLED -->
        </DIG_PWM_2>
        <DIG_PWM_3><!-- HORIZONTAL GS BAR POSITION -->
          <Mode>PWM</Mode><!-- CHANNEL 3 IS SET TO PWM MODE FOR THE PITCH SDI -->
          <InitialValue>128</InitialValue><!-- 0=BOTTOM, 128=MIDDLE, 255=TOP -->
          <CalibrationData>
            <CalibrationPoint>
              <Input>0.000</Input>
              <Output>90</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.125</Input>
              <Output>100</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.250</Input>
              <Output>110</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.375</Input>
              <Output>118</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.500</Input>
              <Output>128</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.625</Input>
              <Output>140</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.750</Input>
              <Output>150</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.875</Input>
              <Output>164</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.999999999999</Input>
              <Output>176</Output>
            </CalibrationPoint>  
            <CalibrationPoint>
              <Input>1.000</Input>
              <Output>255</Output>
            </CalibrationPoint>
          </CalibrationData>
        </DIG_PWM_3>
        <DIG_PWM_4> <!-- VERTICAL GS BAR POSITION -->
          <Mode>PWM</Mode><!-- CHANNEL 4 IS SET TO PWM MODE FOR THE PITCH SDI -->
          <InitialValue>128</InitialValue> <!-- 0=RIGHT, 128=CENTER, 255=LEFT -->
          <CalibrationData>
            <CalibrationPoint>
              <Input>0</Input>
              <Output>20</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.000000000001</Input>
              <Output>78</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.125</Input>
              <Output>94</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.250</Input>
              <Output>104</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.375</Input>
              <Output>114</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.500</Input>
              <Output>128</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.625</Input>
              <Output>146</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.750</Input>
              <Output>162</Output>
            </CalibrationPoint>
            <CalibrationPoint>
              <Input>0.875</Input>
              <Output>176</Output>
            </CalibrationPoint>  
            <CalibrationPoint>
              <Input>1.000</Input>
              <Output>188</Output>
            </CalibrationPoint> 
          </CalibrationData>
        </DIG_PWM_4>
        <DIG_PWM_5> 
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_5>
        <DIG_PWM_6>
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_6>
        <DIG_PWM_7>
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_7>
        <PWM_OUT>
          <InitialValue>0</InitialValue>
        </PWM_OUT>
      </OutputChannelsConfig>
      <UpdateRateControlConfig>
        <Mode>Limit</Mode><!-- can be either Limit or Smooth -->
        
        <!-- LIMIT MODE SETTINGS-->
        <ModeSettings xsi:type="LimitModeSettings">
          <LimitThreshold>0</LimitThreshold> <!-- 0= DISABLED; max = 63 -->
        </ModeSettings>
        
        <!-- SMOOTH MODE SETTINGS -->
        <ModeSettings xsi:type="SmoothModeSettings">
          <SmoothingMinimumThreshold>0</SmoothingMinimumThreshold>  <!--max = 15--> 
          <SmoothingMode>Adaptive</SmoothingMode> <!--can be either Adaptive, TwoSteps, FourSteps, and EightSteps--> 
        </ModeSettings>
        <StepUpdateDelayMillis>8</StepUpdateDelayMillis> <!-- min = 8, max = 256 -->
        <UseShortestPath>false</UseShortestPath><!-- "use shortest path" is not meaningful for the PITCH SDI, as the range of motion is limited due to physical end stops in the ADI -->
      </UpdateRateControlConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      <InitialIndicatorPosition>432</InitialIndicatorPosition> <!-- min=0, max=1023-->
  </Device>
    <!--ROLL SDI-->
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM3</COMPort>
      <Address>0x32</Address><!-- ROLL SDI firmware is given address 0x32, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this SDI card. -->
      <PowerDownConfig>
        <Enabled>false</Enabled><!-- can reduce hum, if enabled, but is disabled by default due to undesirable side effects on accuracy of positioning of the synchro at low power-->
        <Level>Half</Level> <!-- can be either Half or Full -->
        <DelayTimeMilliseconds>512</DelayTimeMilliseconds><!-- 512 is the default; allowed range is from 0 to 2016 -->
      </PowerDownConfig>
      <StatorBaseAngles>
        <!-- SETTINGS FOR WHEN 2ND-ORDER 400 HZ FILTER IS *NOT* USED -->
        <S1BaseAngleDegrees>210</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>330</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>90</S3BaseAngleDegrees>
        
        <!-- SETTINGS FOR WHEN 2ND-ORDER 400 HZ FILTER *IS* USED -->
        <!--
        <S1BaseAngleDegrees>70</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>90</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>310</S3BaseAngleDegrees>
        -->
      </StatorBaseAngles>
      <MovementLimitsConfig>
        <Min>0</Min><!-- allowed range: 0 to 255; 0=no minimum limit-->
        <Max>255</Max><!-- allowed range: 0 to 255; 255=no maximum limit-->
      </MovementLimitsConfig>
      <OutputChannelsConfig>
        <DIG_PWM_1><!-- GS FLAG -->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=FLAG VISIBLE, 1=FLAG HIDDEN -->
        </DIG_PWM_1>
        <DIG_PWM_2><!-- RT AND FLAGS POWER ON/OFF-->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=DISABLED (GS, LOC, AND AUX FLAG VISIBLE AND ROT CENTERED), 1=ENABLED (GS, LOC, AUX FLAG AND RATE-OF-TURN POSITION BASED ON RESPECTIVE INPUTS -->
        </DIG_PWM_2>
        <DIG_PWM_3><!-- LOC FLAG -->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=FLAG VISIBLE, 1=FLAG HIDDEN -->
        </DIG_PWM_3>
        <DIG_PWM_4><!-- AUX FLAG -->
          <Mode>Digital</Mode>
          <InitialValue>1</InitialValue><!-- 0=FLAG VISIBLE, 1=FLAG HIDDEN -->
        </DIG_PWM_4>
        <DIG_PWM_5>
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_5>
        <DIG_PWM_6>
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_6>
        <DIG_PWM_7>
          <Mode>Digital</Mode>
          <InitialValue>0</InitialValue>
        </DIG_PWM_7>
        <PWM_OUT><!-- RATE-OF-TURN INDICATOR POSITION -->
          <InitialValue>128</InitialValue><!-- 0=LEFT, 128=CENTER, 255=RIGHT -->
        </PWM_OUT>
      </OutputChannelsConfig>
      <UpdateRateControlConfig>
        <Mode>Limit</Mode><!-- can be either Limit or Smooth -->
        
        <!-- LIMIT MODE SETTINGS-->
        <ModeSettings xsi:type="LimitModeSettings">
          <LimitThreshold>0</LimitThreshold> <!-- 0= DISABLED; max = 63 -->
        </ModeSettings>
        
        <!-- SMOOTH MODE SETTINGS -->
        <ModeSettings xsi:type="SmoothModeSettings">
          <SmoothingMinimumThreshold>0</SmoothingMinimumThreshold>  <!--max = 15--> 
          <SmoothingMode>Adaptive</SmoothingMode> <!--can be either Adaptive, TwoSteps, FourSteps, and EightSteps--> 
        </ModeSettings>
        <StepUpdateDelayMillis>8</StepUpdateDelayMillis> <!-- min = 8, max = 256 -->
        <UseShortestPath>true</UseShortestPath><!-- move indicator toward new position via the shortest path -->
      </UpdateRateControlConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      <InitialIndicatorPosition>512</InitialIndicatorPosition><!-- min=0, max=1023-->
    </Device>
  
  </Devices>
</HenkSDI>